@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
/* line 22, ../sass/chnnyc.scss */
.text-primary {
  color: #00161A;
}

/* line 26, ../sass/chnnyc.scss */
.text-secondary {
  color: #004A54;
}

/* line 30, ../sass/chnnyc.scss */
.text-tertiary {
  color: #00BAD3;
}

/* line 34, ../sass/chnnyc.scss */
.debug {
  border: 1px dotted green;
}

/* line 45, ../sass/chnnyc.scss */
* body .vc_column_container > .vc_column-inner,
* body .vc_row,
* body .vc_section {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
/* line 58, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-header {
  background-color: #00BAD3;
}
/* line 61, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-header button.close {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-shadow: none;
  opacity: 1;
}
/* line 72, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body {
  background-color: #FEF7ED;
}
/* line 76, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body h2 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 48px;
  line-height: 48px;
  color: #00161A;
}
/* line 83, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #00161A;
}
/* line 89, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a {
  font-weight: 700;
  color: #004A54;
}
/* line 94, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a.btn {
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
  background-color: #004A54;
  border-color: #004A54;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: 1.5px solid #004A54;
  border-radius: 78px;
  padding: 13px 40px 10px 40px;
}
/* line 106, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a.btn:hover {
  background-color: transparent;
  color: #004A54;
}
/* line 121, ../sass/chnnyc.scss */
* body .bg-primary {
  background-color: #FEF7ED !important;
}
/* line 125, ../sass/chnnyc.scss */
* body .bg-secondary {
  background-color: #00BAD3 !important;
}
/* line 129, ../sass/chnnyc.scss */
* body .bg-tertiary {
  background-color: #ededed !important;
}
/* line 135, ../sass/chnnyc.scss */
* body .vc-custom iframe {
  border-radius: 20px;
}
/* line 139, ../sass/chnnyc.scss */
* body .vc-custom .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
/* line 145, ../sass/chnnyc.scss */
* body .vc-custom h1 {
  font-family: "Fraunces", serif;
  font-size: 66px;
  line-height: 63px;
  color: #00161A;
}
/* line 153, ../sass/chnnyc.scss */
* body .vc-custom h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 58px;
}
/* line 159, ../sass/chnnyc.scss */
* body .vc-custom h2.bordered {
  font-size: 18px;
  line-height: 22px;
  border-bottom: 2px solid #00161A;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
/* line 169, ../sass/chnnyc.scss */
* body .vc-custom h3 {
  font-size: 28px;
  line-height: 30px;
  font-family: "Fraunces", serif;
  color: #00161A;
  font-weight: 700;
}
/* line 177, ../sass/chnnyc.scss */
* body .vc-custom p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #00161A;
}
/* line 183, ../sass/chnnyc.scss */
* body .vc-custom p a {
  font-weight: 700;
  color: #004A54;
}
/* line 188, ../sass/chnnyc.scss */
* body .vc-custom p a.btn {
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
  background-color: #004A54;
  border-color: #004A54;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: 1.5px solid #004A54;
  border-radius: 78px;
  padding: 13px 40px 10px 40px;
}
/* line 199, ../sass/chnnyc.scss */
* body .vc-custom p a.btn:hover {
  background-color: transparent;
  color: #004A54;
}
/* line 204, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary {
  background-color: #ffffff;
  border-color: #004A54;
  color: #004A54;
  font-size: 18px;
  line-height: 22px;
  border: 1.5px solid #004A54;
  margin: 0 10px 10px 10px;
}
/* line 212, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:hover {
  background-color: #004A54;
  color: #ffffff;
}
/* line 216, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:first-child {
  margin: 0 10px 10px 0px;
}
/* line 220, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:last-child {
  margin: 0 0px 10px 10px;
}
/* line 229, ../sass/chnnyc.scss */
* body .vc-custom ul {
  margin-top: 2rem;
  padding-left: 0;
  margin-left: 1rem;
}
/* line 233, ../sass/chnnyc.scss */
* body .vc-custom ul li {
  font-size: 18px;
  line-height: 22px;
  color: #004A54;
  padding-left: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #004A54;
  margin-bottom: 1rem;
}
/* line 241, ../sass/chnnyc.scss */
* body .vc-custom ul li a {
  font-weight: 700;
  color: #004A54;
}
/* line 253, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro h2 {
  color: #00161A;
}
/* line 257, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro img {
  border-radius: 20px;
}
/* line 262, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered h1 {
  text-align: center;
}
/* line 265, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered h2 {
  text-align: center;
}
/* line 268, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered p {
  text-align: center;
}
/* line 278, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block h1 {
  font-size: 56px;
  line-height: 56px;
}
/* line 282, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block p {
  margin-bottom: 3rem;
  text-align: center;
}
/* line 285, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block p:last-child {
  margin-bottom: 0;
}
/* line 292, ../sass/chnnyc.scss */
* body .vc-custom.vc-full-width-container h1 {
  color: #004A54;
}
/* line 298, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-list-container h2 {
  color: #004A54;
  font-family: "Fraunces", serif;
  font-size: 36px;
  line-height: 36px;
  border-bottom: 0;
}
/* line 309, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-list-container ul li {
  font-size: 20px;
  line-height: 24px;
}
/* line 317, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block-with-buttons h2 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Fraunces", serif;
  border: 0;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
/* line 330, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul.level-one {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 338, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 343, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > div {
  font-size: 32px;
  line-height: 34px;
  font-family: "Fraunces", serif;
  color: #00161A;
}
/* line 350, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul {
  padding: 0;
  margin-left: 0;
  text-align: left;
  list-style-type: none;
}
/* line 356, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two {
  border-bottom: 0;
  font-weight: 600;
}
/* line 361, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two div {
  border-bottom: 1px solid #004A54;
  color: #004A54;
  font-size: 20px;
  line-height: 24px;
}
/* line 368, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two ul {
  margin-top: 1rem;
}
/* line 372, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two ul li.level-three {
  border-bottom: 0;
}
/* line 374, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two ul li.level-three a {
  font-weight: 400;
  text-decoration: underline;
  font-size: 18px;
  line-height: 21px;
}
/* line 396, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form div.title-container, * body .vc-custom.vc-contact-form div.title-container {
  background-color: #FEF7ED;
}
/* line 401, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form, * body .vc-custom.vc-contact-form form {
  width: 100% !important;
  display: block;
}
/* line 405, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form ::placeholder, * body .vc-custom.vc-contact-form form ::placeholder {
  color: #004A54;
  opacity: 1;
}
/* line 410, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form :-ms-input-placeholder, * body .vc-custom.vc-contact-form form :-ms-input-placeholder {
  color: #004A54;
}
/* line 414, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form ::-ms-input-placeholder, * body .vc-custom.vc-contact-form form ::-ms-input-placeholder {
  color: #004A54;
}
/* line 418, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form p, * body .vc-custom.vc-contact-form form p {
  width: 100% !important;
  display: block;
}
/* line 422, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form p label, * body .vc-custom.vc-contact-form form p label {
  width: 100% !important;
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-family: #004A54;
  color: #004A54;
}
/* line 430, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form p label span, * body .vc-custom.vc-contact-form form p label span {
  width: 100% !important;
  display: block;
}
/* line 434, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form p label span textarea,
* body .vc-custom.vc-two-column-contact-form form p label span input, * body .vc-custom.vc-contact-form form p label span textarea,
* body .vc-custom.vc-contact-form form p label span input {
  padding-left: 0;
  margin-top: 1rem;
  color: #004A54;
  width: 100% !important;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #004A54;
}
/* line 444, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form p label span textarea[type="submit"],
* body .vc-custom.vc-two-column-contact-form form p label span input[type="submit"], * body .vc-custom.vc-contact-form form p label span textarea[type="submit"],
* body .vc-custom.vc-contact-form form p label span input[type="submit"] {
  background-color: #FEF7ED;
}
/* line 454, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form form p input[type="submit"], * body .vc-custom.vc-contact-form form p input[type="submit"] {
  background-color: #004A54;
  color: #ffffff;
  padding: 13px 23px 13px 23px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 25px;
}
/* line 469, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-image-container img {
  border-radius: 20px;
}
/* line 477, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-contact-form h2 {
  font-family: "Fraunces", serif;
  color: #00161A;
  font-size: 36px;
  line-height: 36px;
  border: 0;
}
/* line 487, ../sass/chnnyc.scss */
* body .vc-custom.vc-icon-banner img {
  max-height: 100px;
}
/* line 490, ../sass/chnnyc.scss */
* body .vc-custom.vc-icon-banner a {
  text-decoration: none;
}
/* line 493, ../sass/chnnyc.scss */
* body .vc-custom.vc-icon-banner p {
  font-size: 32px;
  line-height: 32px;
  color: #004A54;
  font-family: "Fraunces", serif;
}
/* line 502, ../sass/chnnyc.scss */
* body .vc-custom.vc-team h2 {
  color: #00161A;
}
/* line 505, ../sass/chnnyc.scss */
* body .vc-custom.vc-team img {
  border-radius: 20px;
}
/* line 511, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-columns-team h2 {
  font-family: #00161A;
  color: #004A54;
  font-size: 36px;
  line-height: 36px;
  border: 0;
}
/* line 518, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-columns-team p {
  font-family: #004A54;
  color: #004A54;
  font-size: 18px;
  line-height: 22px;
}
/* line 523, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-columns-team p b {
  font-weight: 700;
}
/* line 530, ../sass/chnnyc.scss */
* body .vc-custom.vc-small-container-content p {
  text-align: center;
}
/* line 534, ../sass/chnnyc.scss */
* body .vc-custom.vc-small-container-content ul {
  margin-top: 4rem;
}
/* line 541, ../sass/chnnyc.scss */
* body .vc-custom.vc-three-column-block h1 {
  color: #000000;
}
/* line 545, ../sass/chnnyc.scss */
* body .vc-custom.vc-three-column-block p {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
/* line 551, ../sass/chnnyc.scss */
* body .vc-custom.vc-three-column-block .col-12.mx-auto {
  border-right: 1px solid #000000;
}
/* line 553, ../sass/chnnyc.scss */
* body .vc-custom.vc-three-column-block .col-12.mx-auto:last-child {
  border: 0;
}
/* line 564, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-content-container h2 {
  font-family: "Fraunces", serif;
  font-size: 56px;
  line-height: 53px;
  color: #004A54;
  border: 0;
}
/* line 571, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-content-container p {
  font-size: 18px;
  line-height: 22px;
  color: #00161A;
  font-family: "Montserrat", sans-serif;
}
/* line 580, ../sass/chnnyc.scss */
* body .vc-custom.vc-locations h3 {
  font-family: "Fraunces", serif;
  font-size: 36px;
  line-height: 36px;
  color: #004A54;
}
/* line 587, ../sass/chnnyc.scss */
* body .vc-custom.vc-locations img {
  border-radius: 20px;
}
/* line 591, ../sass/chnnyc.scss */
* body .vc-custom.vc-locations ul {
  margin-left: 0;
}
/* line 594, ../sass/chnnyc.scss */
* body .vc-custom.vc-locations ul li {
  border-bottom: 0;
  color: #00161A;
  padding-bottom: 0;
}
