@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
/* line 21, ../sass/chnnyc.scss */
.text-primary {
  color: #00161A;
}

/* line 25, ../sass/chnnyc.scss */
.text-secondary {
  color: #004A54;
}

/* line 29, ../sass/chnnyc.scss */
.text-tertiary {
  color: #00BAD3;
}

/* line 33, ../sass/chnnyc.scss */
.debug {
  border: 1px dotted green;
}

/* line 47, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-header {
  background-color: #00BAD3;
}
/* line 50, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-header button.close {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-shadow: none;
  opacity: 1;
}
/* line 61, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body {
  background-color: #FEF7ED;
}
/* line 65, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body h2 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 48px;
  line-height: 48px;
  color: #00161A;
}
/* line 72, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #00161A;
}
/* line 78, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a {
  font-weight: 700;
  color: #004A54;
}
/* line 83, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a.btn {
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
  background-color: #004A54;
  border-color: #004A54;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: 1.5px solid #004A54;
  border-radius: 78px;
  padding: 13px 40px 10px 40px;
}
/* line 95, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a.btn:hover {
  background-color: transparent;
  color: #004A54;
}
/* line 110, ../sass/chnnyc.scss */
* body .bg-primary {
  background-color: #FEF7ED !important;
}
/* line 114, ../sass/chnnyc.scss */
* body .bg-secondary {
  background-color: #00BAD3 !important;
}
/* line 118, ../sass/chnnyc.scss */
* body .bg-tertiary {
  background-color: #ededed !important;
}
/* line 124, ../sass/chnnyc.scss */
* body .vc-custom h1 {
  font-family: "Fraunces", serif;
  font-size: 66px;
  line-height: 63px;
  color: #00161A;
}
/* line 130, ../sass/chnnyc.scss */
* body .vc-custom h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 2px solid #00161A;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
/* line 140, ../sass/chnnyc.scss */
* body .vc-custom p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #00161A;
}
/* line 146, ../sass/chnnyc.scss */
* body .vc-custom p a {
  font-weight: 700;
  color: #004A54;
}
/* line 151, ../sass/chnnyc.scss */
* body .vc-custom p a.btn {
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
  background-color: #004A54;
  border-color: #004A54;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: 1.5px solid #004A54;
  border-radius: 78px;
  padding: 13px 40px 10px 40px;
}
/* line 162, ../sass/chnnyc.scss */
* body .vc-custom p a.btn:hover {
  background-color: transparent;
  color: #004A54;
}
/* line 167, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary {
  background-color: #ffffff;
  border-color: #004A54;
  color: #004A54;
  font-size: 18px;
  line-height: 22px;
  border: 1.5px solid #004A54;
  margin: 0 10px 10px 10px;
}
/* line 175, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:hover {
  background-color: #004A54;
  color: #ffffff;
}
/* line 179, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:first-child {
  margin: 0 10px 10px 0px;
}
/* line 183, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:last-child {
  margin: 0 0px 10px 10px;
}
/* line 192, ../sass/chnnyc.scss */
* body .vc-custom ul {
  margin-top: 2rem;
  padding-left: 0;
  margin-left: 1rem;
}
/* line 196, ../sass/chnnyc.scss */
* body .vc-custom ul li {
  font-size: 18px;
  line-height: 22px;
  color: #004A54;
  padding-left: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #004A54;
  margin-bottom: 1rem;
}
/* line 204, ../sass/chnnyc.scss */
* body .vc-custom ul li a {
  font-weight: 700;
  color: #004A54;
}
/* line 217, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered h1 {
  text-align: center;
}
/* line 220, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered h2 {
  text-align: center;
}
/* line 223, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered p {
  text-align: center;
}
/* line 233, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block h1 {
  font-size: 56px;
  line-height: 56px;
}
/* line 237, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block p {
  margin-bottom: 3rem;
  text-align: center;
}
/* line 240, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block p:last-child {
  margin-bottom: 0;
}
/* line 247, ../sass/chnnyc.scss */
* body .vc-custom.vc-full-width-container h1 {
  color: #004A54;
}
/* line 253, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-list-container h2 {
  color: #004A54;
  font-family: "Fraunces", serif;
  font-size: 36px;
  line-height: 36px;
  border-bottom: 0;
}
/* line 264, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-list-container ul li {
  font-size: 20px;
  line-height: 24px;
}
/* line 272, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block-with-buttons h2 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Fraunces", serif;
  border: 0;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
/* line 285, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul.level-one {
  text-align: center;
  list-style-type: none;
}
/* line 291, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one {
  border-bottom: 0;
}
/* line 293, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul {
  padding: 0;
  margin-left: 0;
  text-align: left;
  list-style-type: none;
}
/* line 299, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two {
  border-bottom: 0;
  font-weight: 600;
}
/* line 304, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two ul {
  margin-top: 1rem;
}
/* line 306, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two ul::before {
  display: block;
  content: '';
  border-top: 1px solid #00161A;
  padding-top: 16px;
  position: relative;
  left: -20px;
}
/* line 315, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two ul li.level-three {
  border-bottom: 0;
}
/* line 317, ../sass/chnnyc.scss */
* body .vc-custom.vc-accordion-links ul li.level-one > ul li.level-two ul li.level-three a {
  font-weight: 400;
  text-decoration: underline;
  font-size: 18px;
  line-height: 21px;
}
