@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
/* line 20, ../sass/chnnyc.scss */
.text-primary {
  color: #00161A;
}

/* line 24, ../sass/chnnyc.scss */
.text-secondary {
  color: #004A54;
}

/* line 28, ../sass/chnnyc.scss */
.text-tertiary {
  color: #00BAD3;
}

/* line 32, ../sass/chnnyc.scss */
.debug {
  border: 1px dotted green;
}

/* line 43, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-header {
  background-color: #00BAD3;
}
/* line 46, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-header button.close {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-shadow: none;
  opacity: 1;
}
/* line 57, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body {
  background-color: #FEF7ED;
}
/* line 61, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body h2 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 48px;
  line-height: 48px;
  color: #00161A;
}
/* line 68, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #00161A;
}
/* line 74, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a {
  font-weight: 700;
  color: #004A54;
}
/* line 79, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a.btn {
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
  background-color: #004A54;
  border-color: #004A54;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: 1.5px solid #004A54;
  border-radius: 78px;
  padding: 13px 40px 10px 40px;
}
/* line 91, ../sass/chnnyc.scss */
* body .modal.popup-chnnyc .modal-content .modal-body p a.btn:hover {
  background-color: transparent;
  color: #004A54;
}
/* line 106, ../sass/chnnyc.scss */
* body .bg-primary {
  background-color: #FEF7ED !important;
}
/* line 110, ../sass/chnnyc.scss */
* body .bg-secondary {
  background-color: #00BAD3 !important;
}
/* line 116, ../sass/chnnyc.scss */
* body .vc-custom h1 {
  font-family: "Fraunces", serif;
  font-size: 66px;
  line-height: 63px;
  color: #00161A;
}
/* line 122, ../sass/chnnyc.scss */
* body .vc-custom h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 2px solid #00161A;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
/* line 132, ../sass/chnnyc.scss */
* body .vc-custom p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #00161A;
}
/* line 138, ../sass/chnnyc.scss */
* body .vc-custom p a {
  font-weight: 700;
  color: #004A54;
}
/* line 143, ../sass/chnnyc.scss */
* body .vc-custom p a.btn {
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
  background-color: #004A54;
  border-color: #004A54;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: 1.5px solid #004A54;
  border-radius: 78px;
  padding: 13px 40px 10px 40px;
}
/* line 154, ../sass/chnnyc.scss */
* body .vc-custom p a.btn:hover {
  background-color: transparent;
  color: #004A54;
}
/* line 159, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary {
  background-color: #ffffff;
  border-color: #004A54;
  color: #004A54;
  font-size: 18px;
  line-height: 22px;
  border: 1.5px solid #004A54;
  margin: 0 10px 10px 10px;
}
/* line 167, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:hover {
  background-color: #004A54;
  color: #ffffff;
}
/* line 171, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:first-child {
  margin: 0 10px 10px 0px;
}
/* line 175, ../sass/chnnyc.scss */
* body .vc-custom p a.btn.btn-secondary:last-child {
  margin: 0 0px 10px 10px;
}
/* line 184, ../sass/chnnyc.scss */
* body .vc-custom ul {
  margin-top: 2rem;
  padding-left: 0;
  margin-left: 1rem;
}
/* line 188, ../sass/chnnyc.scss */
* body .vc-custom ul li {
  font-size: 18px;
  line-height: 22px;
  color: #004A54;
  padding-left: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #004A54;
  margin-bottom: 1rem;
}
/* line 196, ../sass/chnnyc.scss */
* body .vc-custom ul li a {
  font-weight: 700;
  color: #004A54;
}
/* line 209, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered h1 {
  text-align: center;
}
/* line 212, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered h2 {
  text-align: center;
}
/* line 215, ../sass/chnnyc.scss */
* body .vc-custom.vc-intro .content-centered p {
  text-align: center;
}
/* line 225, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block h1 {
  font-size: 56px;
  line-height: 56px;
}
/* line 229, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block p {
  margin-bottom: 3rem;
  text-align: center;
}
/* line 232, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block p:last-child {
  margin-bottom: 0;
}
/* line 239, ../sass/chnnyc.scss */
* body .vc-custom.vc-full-width-container h1 {
  color: #004A54;
}
/* line 245, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-list-container h2 {
  color: #004A54;
  font-family: "Fraunces", serif;
  font-size: 36px;
  line-height: 36px;
  border-bottom: 0;
}
/* line 256, ../sass/chnnyc.scss */
* body .vc-custom.vc-two-column-list-container ul li {
  font-size: 20px;
  line-height: 24px;
}
/* line 264, ../sass/chnnyc.scss */
* body .vc-custom.vc-yellow-block-with-buttons h2 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Fraunces", serif;
  border: 0;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
