@media (max-width: 575px) {
  /* line 22, ../sass/responsive.scss */
  * body .modal.popup-chnnyc .modal-content .modal-header button.close {
    font-size: 14px;
    line-height: 18px;
  }
  /* line 31, ../sass/responsive.scss */
  * body .modal.popup-chnnyc .modal-content .modal-body h2 {
    font-size: 38px;
    line-height: 48px;
  }
  /* line 35, ../sass/responsive.scss */
  * body .modal.popup-chnnyc .modal-content .modal-body p {
    font-size: 16px;
    line-height: 20px;
  }
  /* line 38, ../sass/responsive.scss */
  * body .modal.popup-chnnyc .modal-content .modal-body p a {
    font-weight: 700;
  }
  /* line 42, ../sass/responsive.scss */
  * body .modal.popup-chnnyc .modal-content .modal-body p a.btn {
    font-size: 14px;
    line-height: 18px;
  }
  /* line 59, ../sass/responsive.scss */
  * body .vc-custom h1 {
    font-size: 56px;
    line-height: 60px;
  }
  /* line 63, ../sass/responsive.scss */
  * body .vc-custom h2 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  /* line 70, ../sass/responsive.scss */
  * body .vc-custom p {
    font-size: 18px;
    line-height: 22px;
  }
  /* line 77, ../sass/responsive.scss */
  * body .vc-custom a.btn {
    font-size: 16px;
    line-height: 19px;
    border-radius: 78px;
    padding: 13px 40px 10px 40px;
  }
  /* line 104, ../sass/responsive.scss */
  * body .vc-custom.vc-two-column-contact-form .sticky {
    position: relative;
  }
  /* line 110, ../sass/responsive.scss */
  * body .vc-custom.vc-yellow-block-with-buttons h2 {
    font-size: 30px;
    line-height: 30px;
  }
  /* line 117, ../sass/responsive.scss */
  * body .vc-custom.vc-yellow-block-with-buttons p a.btn {
    padding: 8px 25px 8px 25px;
  }
  /* line 121, ../sass/responsive.scss */
  * body .vc-custom.vc-yellow-block-with-buttons p a.btn.btn-secondary {
    display: block !important;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0;
  }
  /* line 128, ../sass/responsive.scss */
  * body .vc-custom.vc-yellow-block-with-buttons p a.btn.btn-secondary:first-child {
    margin: 10px 0;
  }
  /* line 131, ../sass/responsive.scss */
  * body .vc-custom.vc-yellow-block-with-buttons p a.btn.btn-secondary:last-child {
    margin: 10px 0;
  }
}
