@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

$primary : #00161A;
$secondary : #004A54;
$tertiary : #00BAD3;
$light : #ffffff;
$dark : #000000;

$font-primary : 'Fraunces', serif;
$font-secondary : 'Montserrat', sans-serif;
$font-tertiary : 'Helvetica';


$bg-primary : #FEF7ED;
$bg-secondary : #00BAD3;
$bg-tertiary : #ededed;
$bg-transparent : transparent;
$bg-light : #ffffff;


.text-primary {
	color: $primary;
}

.text-secondary {
	color: $secondary;
}

.text-tertiary {
	color: $tertiary;
}

.debug {
	border: 1px dotted green;
}




* {
	body {

		
		.vc_column_container>.vc_column-inner,
		.vc_row,
		.vc_section {
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.modal {
			&.popup-chnnyc {
				.modal-content {

					.modal-header {
						background-color: $tertiary;
						button {
							&.close {
								font-family: $font-secondary;
								font-size: 14px;
								line-height: 18px;
								color: $light;
								text-shadow: none;
								opacity: 1;
							}
						}
					}

					.modal-body {

						background-color: $bg-primary;

						h2 {
							text-align: center;
							font-family: $font-primary;
							font-size: 48px;
							line-height: 48px;
							color: $primary;
						}
						p {
							text-align: center;
							font-family: $font-secondary;
							font-size: 18px;
							line-height: 22px;
							color: $primary;
							a  {

								font-weight: 700;
								color: $secondary;

								&.btn {
									transition: background-color 0.5s ease;
									font-family: $font-secondary;
									background-color: $secondary;
									border-color: $secondary;
									color: $light;
									font-size: 16px;
									line-height: 19px;
									border: 1.5px solid $secondary;
									border-radius: 78px;
									padding: 13px 40px 10px 40px;

									&:hover {
										background-color: $bg-transparent;
										color: $secondary;
									}
								}
							}
						}

					}

				}

			}
		}

		.bg-primary {
			background-color: $bg-primary!important;
		}

		.bg-secondary {
			background-color: $bg-secondary!important;
		}

		.bg-tertiary {
			background-color: $bg-tertiary!important;
		}

		.vc-custom {

			iframe {
				border-radius: 20px;
			}

			.sticky {
				position: -webkit-sticky;
				position: sticky;
				top: 0px; 
			}
			
			h1 {
				font-family: $font-primary;
				font-size: 66px;
				line-height: 63px;
				color: $primary;

			}

			h2 {
				font-family: $font-secondary;
				font-weight: 600;
				font-size: 55px;
				line-height: 58px;
				
				&.bordered {
					font-size: 18px;
					line-height: 22px;
					border-bottom: 2px solid $primary;
					padding-bottom: 1rem;
					margin-bottom: 1rem;
				}

			}

			h3 {
				font-size: 28px;
				line-height: 30px;
				font-family: $font-primary;
				color: $primary;
				font-weight: 700;
			}

			p {
				font-family: $font-secondary;
				font-size: 18px;
				line-height: 22px;
				color: $primary;
				
				a  {

					font-weight: 700;
					color: $secondary;

					&.btn {
						transition: background-color 0.5s ease;
						font-family: $font-secondary;
						background-color: $secondary;
						border-color: $secondary;
						color: $light;
						font-size: 16px;
						line-height: 19px;
						border: 1.5px solid $secondary;
						border-radius: 78px;
						padding: 13px 40px 10px 40px;
						&:hover {
							background-color: $bg-transparent;
							color: $secondary;
						}

						&.btn-secondary {
							background-color: $bg-light;
							border-color: $secondary;
							color: $secondary;
							font-size: 18px;
							line-height: 22px;
							border: 1.5px solid $secondary;
							margin: 0 10px 10px 10px;
							&:hover {
								background-color: $secondary;
								color: $light;
							}
							&:first-child {
								margin: 0 10px 10px 0px;
							}

							&:last-child {
								margin: 0 0px 10px 10px;
							}
						}

					}
				}
			}

			ul {
				margin-top: 2rem;
				padding-left: 0;
				margin-left: 1rem;
				li {
					font-size: 18px;
					line-height: 22px;
					color: $secondary;
					padding-left: 0;
				    padding-bottom: 1rem;
				    border-bottom: 1px solid $secondary;
				    margin-bottom: 1rem;
					a  {

						font-weight: 700;
						color: $secondary;

					}
				}
			}


			&.vc-intro {

				h2 {
					color: $primary;
				}

				img {
					border-radius: 20px;
				}
				
				.content-centered {
					h1 {
						text-align: center;
					}
					h2 {
						text-align: center;
					}
					p {
						text-align: center;
					}
					a  {
					}
				}

			}

			&.vc-yellow-block {
				h1 {
					font-size: 56px;
					line-height: 56px;
				}
				p {
					margin-bottom: 3rem;
					text-align: center;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&.vc-full-width-container {
				h1 {
					color: $secondary;
				}
			}

			&.vc-two-column-list-container {
				h2 {
					color: $secondary;
					font-family: $font-primary;
					font-size: 36px;
					line-height: 36px;
					border-bottom: 0;
					// padding-bottom: 1rem;
					// margin-bottom: 1rem;
				}

				ul {
					li {
						font-size: 20px;
						line-height: 24px;
					}
				}
			}

			&.vc-yellow-block-with-buttons {
				h2 {
					font-size: 36px;
					line-height: 36px;
					font-family: $font-primary;
					border: 0;
					padding-bottom: 0;
					margin-bottom: 2rem;
				}
			}

			&.vc-accordion-links {

				ul {
					&.level-one {

						text-align: center;
						list-style-type: none;
						padding: 0;
						margin: 0;
					}
					li {
						&.level-one {
							border-bottom: 0;
							padding-bottom: 0;
							margin-bottom: 0;
							
							> div {
								font-size: 32px;
								line-height: 34px;
								font-family: $font-primary;
								color: $primary;
							}

							> ul {
								padding: 0;
								margin-left: 0;
								text-align: left;
								list-style-type: none;
								li {
									&.level-two {
										border-bottom: 0;

										font-weight: 600;

										div {
											border-bottom: 1px solid $secondary;
											color: $secondary;
											font-size: 20px;
											line-height: 24px;
										}

										ul {
											margin-top: 1rem;

											li {
												&.level-three {
													border-bottom: 0;
													a {
														font-weight: 400;
														text-decoration: underline;
														font-size: 18px;
														line-height: 21px;
													}
												}
											}
										}
									}
								}
							}

						}
					}
				}
				
			}

			&.vc-two-column-contact-form,
			&.vc-contact-form {
				div {
					&.title-container {
						background-color: $bg-primary;
					}
				}

				form {
					width: 100%!important;
					display: block;

					::placeholder { 
					  color: $secondary;
					  opacity: 1; 
					}

					:-ms-input-placeholder { 
					  color: $secondary;
					}

					::-ms-input-placeholder { 
					  color: $secondary;
					}

					p {
						width: 100%!important;
						display: block;

						label {
							width: 100%!important;
							display: block;
							font-size: 16px;
							line-height: 18px;
							font-family: $secondary;
							color: $secondary;

							span {
								width: 100%!important;
								display: block;

								textarea,
								input {
									padding-left: 0;
									margin-top: 1rem;
									color: $secondary;
									width: 100%!important;
									border:0;
									border-radius: 0;
									border-bottom: 1px solid $secondary;

									&[type="submit"] {
										background-color: $bg-primary;
									}
								}
							}

						}
						
						input {

							&[type="submit"] {
								cursor: pointer;
								background-color: $secondary;
								color: $light;
								padding: 13px 23px 13px 23px;
								font-size: 16px;
								font-weight: 700;
								line-height: 19px;
								border-radius: 25px;
								transition: background-color 0.5s ease;
								
								&:hover {
									background-color: $bg-transparent;
									color: $secondary;
									border-color: $secondary;
								}

							}
							
						}
					}
				}
			}

			&.vc-two-column-image-container {
				img {
					border-radius: 20px;
				}
			}

			&.vc-two-column-contact-form {


				h2 {
					font-family: $font-primary;
					color: $primary;
					font-size: 36px;
					line-height: 36px;
					border: 0;
				}
			}

			&.vc-icon-banner {
				img {
					max-height: 100px;
				}
				a {
					text-decoration: none;
				}
				p {
					font-size: 32px;
					line-height: 32px;
					color: $secondary;
					font-family: $font-primary;
				}
			}

			&.vc-team {
				h2 {
					color: $primary;
				}
				img {
					border-radius: 20px;
				}
			}

			&.vc-two-columns-team {
				h2 {
					font-family: $primary;
					color: $secondary;
					font-size: 36px;
					line-height: 36px;
					border: 0;
				}
				p {
					font-family: $secondary;
					color: $secondary;
					font-size: 18px;
					line-height: 22px;
					b {
						font-weight: 700;
					}
				}
			}

			&.vc-small-container-content {
				p {
					text-align: center;
				}

				ul {
					margin-top: 4rem;
				}
			}

			&.vc-three-column-block {

				h1 {
					color: $dark;
				}

				p {
					font-size: 18px;
					line-height: 22px;
					color: $dark;
				}

				.col-12.mx-auto {
					border-right: 1px solid $dark;
					&:last-child {
						border: 0;
					}
				}
			}

			&.vc-contact-intro {
				
			}

			&.vc-two-column-content-container {
				h2 {
					font-family: $font-primary;
					font-size: 56px;
					line-height: 53px;
					color: $secondary;
					border: 0;
				}
				p {
					font-size: 18px;
					line-height: 22px;
					color: $primary;
					font-family: $font-secondary;
				}
			}

			&.vc-locations {
				h3 {
					font-family: $font-primary;
					font-size: 36px;
					line-height: 36px;
					color: $secondary;
				}

				img {
					border-radius: 20px;
				}

				ul {

					margin-left: 0;
					li {
						border-bottom: 0;
						color: $primary;
						padding-bottom: 0;
					}
				}
				
			}

			&.vc-images-slider {
				.swiper {
				  width: 100%;
				  height: 100%;
				}

				.swiper-slide {
				  text-align: center;
				  font-size: 1rem;
				  background: #fff;

				  /* Center slide text vertically */
				  display: -webkit-box;
				  display: -ms-flexbox;
				  display: -webkit-flex;
				  /*display: flex;*/
				  display: block;
				  -webkit-box-pack: center;
				  -ms-flex-pack: center;
				  -webkit-justify-content: center;
				  justify-content: center;
				  -webkit-box-align: center;
				  -ms-flex-align: center;
				  -webkit-align-items: center;
				  align-items: center;
				}

				.swiper-slide img {
				  display: block;
				  width: 100%;
				  height: 100%;
				  object-fit: cover;
				  border-radius: 20px;
				}

				.swiper-next,
				.swiper-prev {
				  position: absolute;
				  top: 0;
				  bottom: 0;
				  height: 60px;
				  margin: auto;
				  z-index: 1;
				}
				.swiper-next {
				  right: 2%;
				}
				.swiper-prev {
				  left: 2%;
				}
				.swiper-next:hover,
				.swiper-prev:hover {
				  cursor: pointer;
				}
			}

		}
	}
}