@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

$primary : #00161A;
$secondary : #004A54;
$tertiary : #00BAD3;
$light : #ffffff;

$font-primary : 'Fraunces', serif;
$font-secondary : 'Montserrat', sans-serif;
$font-tertiary : 'Helvetica';


$bg-primary : #FEF7ED;
$bg-secondary : #00BAD3;
$bg-tertiary : #ededed;
$bg-transparent : transparent;
$bg-light : #ffffff;


.text-primary {
	color: $primary;
}

.text-secondary {
	color: $secondary;
}

.text-tertiary {
	color: $tertiary;
}

.debug {
	border: 1px dotted green;
}




* {
	body {

		
		.vc_column_container>.vc_column-inner,
		.vc_row,
		.vc_section {
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.modal {
			&.popup-chnnyc {
				.modal-content {

					.modal-header {
						background-color: $tertiary;
						button {
							&.close {
								font-family: $font-secondary;
								font-size: 14px;
								line-height: 18px;
								color: $light;
								text-shadow: none;
								opacity: 1;
							}
						}
					}

					.modal-body {

						background-color: $bg-primary;

						h2 {
							text-align: center;
							font-family: $font-primary;
							font-size: 48px;
							line-height: 48px;
							color: $primary;
						}
						p {
							text-align: center;
							font-family: $font-secondary;
							font-size: 18px;
							line-height: 22px;
							color: $primary;
							a  {

								font-weight: 700;
								color: $secondary;

								&.btn {
									transition: background-color 0.5s ease;
									font-family: $font-secondary;
									background-color: $secondary;
									border-color: $secondary;
									color: $light;
									font-size: 16px;
									line-height: 19px;
									border: 1.5px solid $secondary;
									border-radius: 78px;
									padding: 13px 40px 10px 40px;

									&:hover {
										background-color: $bg-transparent;
										color: $secondary;
									}
								}
							}
						}

					}

				}

			}
		}

		.bg-primary {
			background-color: $bg-primary!important;
		}

		.bg-secondary {
			background-color: $bg-secondary!important;
		}

		.bg-tertiary {
			background-color: $bg-tertiary!important;
		}

		.vc-custom {
			
			h1 {
				font-family: $font-primary;
				font-size: 66px;
				line-height: 63px;
				color: $primary;
			}
			h2 {
				font-family: $font-secondary;
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
				border-bottom: 2px solid $primary;
				padding-bottom: 1rem;
				margin-bottom: 1rem;
			}

			p {
				font-family: $font-secondary;
				font-size: 18px;
				line-height: 22px;
				color: $primary;
				
				a  {

					font-weight: 700;
					color: $secondary;

					&.btn {
						transition: background-color 0.5s ease;
						font-family: $font-secondary;
						background-color: $secondary;
						border-color: $secondary;
						color: $light;
						font-size: 16px;
						line-height: 19px;
						border: 1.5px solid $secondary;
						border-radius: 78px;
						padding: 13px 40px 10px 40px;
						&:hover {
							background-color: $bg-transparent;
							color: $secondary;
						}

						&.btn-secondary {
							background-color: $bg-light;
							border-color: $secondary;
							color: $secondary;
							font-size: 18px;
							line-height: 22px;
							border: 1.5px solid $secondary;
							margin: 0 10px 10px 10px;
							&:hover {
								background-color: $secondary;
								color: $light;
							}
							&:first-child {
								margin: 0 10px 10px 0px;
							}

							&:last-child {
								margin: 0 0px 10px 10px;
							}
						}

					}
				}
			}

			ul {
				margin-top: 2rem;
				padding-left: 0;
				margin-left: 1rem;
				li {
					font-size: 18px;
					line-height: 22px;
					color: $secondary;
					padding-left: 0;
				    padding-bottom: 1rem;
				    border-bottom: 1px solid $secondary;
				    margin-bottom: 1rem;
					a  {

						font-weight: 700;
						color: $secondary;

					}
				}
			}


			&.vc-intro {
				
				.content-centered {
					h1 {
						text-align: center;
					}
					h2 {
						text-align: center;
					}
					p {
						text-align: center;
					}
					a  {
					}
				}

			}

			&.vc-yellow-block {
				h1 {
					font-size: 56px;
					line-height: 56px;
				}
				p {
					margin-bottom: 3rem;
					text-align: center;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&.vc-full-width-container {
				h1 {
					color: $secondary;
				}
			}

			&.vc-two-column-list-container {
				h2 {
					color: $secondary;
					font-family: $font-primary;
					font-size: 36px;
					line-height: 36px;
					border-bottom: 0;
					// padding-bottom: 1rem;
					// margin-bottom: 1rem;
				}

				ul {
					li {
						font-size: 20px;
						line-height: 24px;
					}
				}
			}

			&.vc-yellow-block-with-buttons {
				h2 {
					font-size: 36px;
					line-height: 36px;
					font-family: $font-primary;
					border: 0;
					padding-bottom: 0;
					margin-bottom: 2rem;
				}
			}

			&.vc-accordion-links {

				ul {
					&.level-one {

						text-align: center;
						list-style-type: none;
						padding: 0;
						margin: 0;
					}
					li {
						&.level-one {
							border-bottom: 0;
							padding-bottom: 0;
							margin-bottom: 0;
							
							> div {
								font-size: 32px;
								line-height: 34px;
								font-family: $font-primary;
								color: $primary;
							}

							> ul {
								padding: 0;
								margin-left: 0;
								text-align: left;
								list-style-type: none;
								li {
									&.level-two {
										border-bottom: 0;

										font-weight: 600;

										div {
											border-bottom: 1px solid $secondary;
											color: $secondary;
											font-size: 20px;
											line-height: 24px;
										}

										ul {
											margin-top: 1rem;

											li {
												&.level-three {
													border-bottom: 0;
													a {
														font-weight: 400;
														text-decoration: underline;
														font-size: 18px;
														line-height: 21px;
													}
												}
											}
										}
									}
								}
							}

						}
					}
				}
				
			}
		}
	}
}