@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

$primary : #00161A;
$secondary : #004A54;
$tertiary : #00161A;
$light : #ffffff;

$font-primary : 'Fraunces', serif;
$font-secondary : 'Montserrat', sans-serif;
$font-tertiary : 'Helvetica';


$bg-primary : #FEF7ED;


.text-primary {
	color: $primary;
}

.text-secondary {
	color: $secondary;
}

.text-tertiary {
	color: $tertiary;
}

.debug {
	border: 1px dotted green;
}

* {
	body {

		.bg-primary {
			background-color: $bg-primary!important;
		}

		.vc-custom {
			
			h1 {
				font-family: $font-primary;
				font-size: 66px;
				line-height: 63px;
			}
			h2 {
				font-family: $font-secondary;
				font-size: 18px;
				line-height: 22px;
				border-bottom: 1px solid $primary;
				padding-bottom: 1rem;
				margin-bottom: 1rem;
			}

			p {
				font-family: $font-secondary;
				font-size: 18px;
				line-height: 22px;
				color: $primary;
				
				a  {

					font-weight: 700;
					color: $secondary;

					&.btn {
						font-family: $font-secondary;
						background-color: $secondary;
						border-color: $secondary;
						color: $light;
						font-size: 16px;
						line-height: 19px;
						border: 1.5px solid $secondary;
						border-radius: 78px;
						padding: 13px 40px 10px 40px;
					}
				}
			}

			ul {
				margin-top: 2rem;
				padding-left: 0;
				margin-left: 1rem;
				li {
					font-size: 18px;
					line-height: 22px;
					color: $secondary;
					padding-left: 0;
				    padding-bottom: 1rem;
				    border-bottom: 1px solid $secondary;
				    margin-bottom: 1rem;
					a  {

						font-weight: 700;
						color: $secondary;

					}
				}
			}


			&.vc-intro {
				
				.content-centered {
					h1 {
						text-align: center;
					}
					h2 {
						text-align: center;
					}
					p {
						text-align: center;
					}
					a  {
					}
				}

			}

			&.vc-yellow-block {
				p {
					margin-bottom: 3rem;
					text-align: center;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&.vc-full-width-container {
				h1 {
					color: $secondary;
				}
			}

			&.vc-two-column-list-container {
				h2 {
					color: $secondary;
					font-family: $font-primary;
					font-size: 36px;
					line-height: 36px;
					border-bottom: 0;
					// padding-bottom: 1rem;
					// margin-bottom: 1rem;
				}

				ul {
					li {
						font-size: 20px;
						line-height: 24px;
					}
				}
			}
		}
	}
}